<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tactics-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>cocos2d-chipmunk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cocos2d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cocos3d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93A949F3195513E9006D0F17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93A949F7195513E9006D0F17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93A94C5F195513EC006D0F17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93A94E0B195513EF006D0F17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
